body {
  font-family: Arial, sans-serif;
  background: rgb(255, 47, 175);
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form input,
form select,
form textarea,
form button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

form button {
  background: #2563eb;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.clear-btn {
  background: #ef4444;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #e5e7eb;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.complaint-header {
  font-weight: bold;
  margin-bottom: 5px;
}
